{% extends 'layout.html'%}

{% block content%}
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container-fluid m-auto ">
            <div class="row col-8 mb-0 m-auto">
              <a class="navbar-brand col-5  m-0" href="#">Kitab Mağazası</a>
              <ul class="navbar-nav col-7 m-auto  mb-2 mb-lg-0 justify-content-end " >
                  <li class="nav-item">
                      <a class="nav-link "href="{{url_for('index')}}">Ana səhifə</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Haqqımızda</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Kateqoriyalar</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link " href="{{url_for('product')}}">Ayın kitabı</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    İstifadəçi
                      </a>
                  <ul class="dropdown-menu " aria-labelledby="navbarDropdown ">
                      <li><a class="dropdown-item d-flex flex-wrap" href="#">Action</a></li>
                      <li><a class="dropdown-item d-flex flex-wrap" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item d-flex flex-wrap" href="#">Something else here</a></li>
                  </ul>
                  </li>
              </ul>
            </div>
        </div>
    </nav>
    <div class="">
        <img src="{{url_for('static',filename='images/calculate.jpg')}}" alt="" style="max-width:100%;
        max-height:100%;">

    </div>
    {% endblock %}

    
    {% block footer %}
  
    <script src="{{url_for('static',filename='js/newpage.js')}}">

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    {% endblock %}
</body>

</html>